{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static '/css/breadcrumb.css'%}">
    <main role="main">
      {% if apps_list %}
        <ul class="breadcrumb">
          <li><a href="{% url 'content_viewer:app_available' %}">Home</a></li>
        </ul>
      {% endif %}
     
      
        <div class="album bg-light">
          <div class="container">
  
            <div class="row">
                <!-- Iterate over object_list -->
                {% for object in apps_list %}
              <div class="col-md-4 col-4">
                <div class="card mb-4 box-shadow" >
                  <a href="{% url 'content_viewer:parent_details' AppId=object.AppId %}">
                      <img class="card-img-top" src="{% static '/storage/images/'|add:object.fileName %}"
                        width="50%" height="120" alt="Pratham Open School">
                  </a>
                  <div class="card-body">
                    <p class="card-text"><strong>{{ object.AppName }}</strong></p>
                    {% comment %} <p class="card-text">{{ object.AppDesc }}</p> {% endcomment %}
                    <hr>
                    <div class="d-flex justify-content-between align-items-center">
                      {% if request.user.is_authenticated %}
                      &nbsp;&nbsp;
                      <div class="btn-group">
                        <a href="{% url 'content_viewer:parent_details' AppId=object.AppId %}">
                            <button class="btn btn-outline-primary my-2 my-sm-0" type="button">View</button>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="{% url 'channels:channel_list' %}">
                            <button class="btn btn-outline-primary my-2 my-sm-0" type="button">Update</button>
                        </a>
                        {% else %}
                          <a href="{% url 'content_viewer:parent_details' AppId=object.AppId %}">
                            <button class="btn btn-outline-primary my-2 my-sm-0" type="button">View</button>
                        </a>
                          </p>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- check if empty -->
                {% empty %}
                <br>
                <br>
                <div class="row col-md-12">
                  <p class="span6" style="float: none; margin:auto;">
                  <img src='{% static "/images/error_outline-24px.svg" %}'>Content is not Available Please Download
                  </p>
                </div>
                {% if request.user.is_authenticated %}
                <div class="row col-md-12">
                  <p class="span6" style="float: none; margin:auto;">
                  <a class="btn btn-outline-success my-2 my-sm-0" type="button" href="{% url 'channels:channel_list' %}">
                    <img src='{% static "/images/get_app-24px.svg" %}'>Download</a> 
                  </p>
                </div>
                {% else %}

                <div class="row col-md-12">
                  <p class="span6" style="float: none; margin:auto;">
                  <a class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="downloader()" href="{% url 'account:user_login' %}">
                    <img src='{% static "/images/get_app-24px.svg" %}'>Download</a> 
                  </p>
                </div>

                {% endif %}

              {% endfor %}
              </div>
            </div>
          </div>
  
      </main>

      <script>
          function downloader(){
            alert("you need to login to downlaod the content!")
          }
      </script>

{% endblock  %}
