{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<div class="wrapper col-md-4 text-center container">
        <img src="{% static 'images/logo.png' %}" alt="Pratham">
    <div class="container vertical-center rounded" style="padding: 15px;background-color: #DCC551;">   
        <form class="form-style" method="post">
            {% csrf_token %}
            <div class="row">
            <span class="col-md-4">Programs:</span>
            <span class="col-md-8">
                <select name="program_list" class="form-control my-select" id="auto_program" onchange="">
                    <option value="">Select Program</option>
                    {% for program in program_result %}
                        <option value="{{program.ProgramId}}">{{ program.ProgramName }}</option>
                    {% endfor %}
                </select>
            </span>
            </div><br>
            <div class="row">
                <span class="col-md-4">States:</span>
                <span class="col-md-8">
                    <select name="state_list" class="form-control" id="auto_state" onchange="">
                        <option value=" ">Select state</option>
                    </select>
                </span>
            </div><br>
            <div class="row">
                <span class="col-md-4">Districts:</span>
                <span class="col-md-8">
                    <select name="district_list" class="form-control" id="auto_district" onchange="">
                        <option value=" ">Select district</option>
                    </select>
                </span>
            </div><br>
            <div class="row">
                <span class="col-md-4">Blocks:</span>
                <span class="col-md-8">
                    <select name="block_list" class="form-control" id="auto_block">
                        <option value=" ">Select Block</option>
                    </select>
                </span>
            </div><br>
            <button id="get_villages" name="answer" class="btn btn-danger my-2 my-sm-0" data-toggle="modal" data-target="#popup">
                OK
            </button>
            <!-- The Modal -->
                  <div class="modal" id="popup">
                    <div class="modal-dialog">
                      <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">Villages</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body text-left" id="villagedetails">
        <!--                    <input type="text" class="form-control" id="myMainPageInput" />-->
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-success" id="pull_ids" data-dismiss="modal">Pull Data</button>
        <!--                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
                        </div>

                      </div>
                    </div>
                  </div>
                <div class="loading" id="loaded" style="display:none;">
                    <div class="loader">
                    </div>                
                    <button class="btn btn-primary" disabled>
                        <span class="spinner-grow spinner-grow-sm"></span>
                        Loading..
                      </button>
                </div>
        </form>
    </div>
</div>

<script>
    $('select[name=program_list]').change(function(){
        var program_id = $(this).val();
        requested_url = '/states/';
        $.ajax({
            url: requested_url,
            type: 'GET',
            data:{
                'program_id': program_id
            },
            crossDomain: true,
            datatype: "jsonp",
            success: function(data){
                // console.log(data);
                $('#auto_state').html('<option value=" ">'+data+'</option>');
            }
        })
    });
    $('select[name=state_list]').change(function(){
        var state_id = $('#auto_state').val();
        requested_url = '/districts/';
        $.ajax({
            url: requested_url,
            type: 'GET',
            data: {
                'state_id': state_id
            },
            crossDomain: true,
            datatype: 'jsonp',
            success: function(data){
                // console.log(data);
                $('#auto_district').html('<option value=" ">'+data+'</option>');
            }
        });
    });
    $('select[name=district_list]').change(function(){
        var district_name = $('#auto_district option:selected').text();
        requested_url = '/blocks/';
        $.ajax({
            url: requested_url,
            type: 'GET',
            data: {
                'district_name': district_name
            },
            crossDomain: true,
            datatype: 'jsonp',
            success: function(data){
                // console.log(data);
                $('#auto_block').html('<option value=" ">'+data+'</option>');
            }
        });
    });
    $('#get_villages').click(function(){
        var block_name = $('#auto_block option:selected').text();
        requested_url = "/villages/";
        $.ajax({
        url: requested_url,
        type: 'GET',
        data: {
            'block_name': block_name
        },
        crossDomain: true,
        datatype: "jsonp",
        success: function(data){
            $('#villagedetails').html(data);
            $('#popup').modal('show');
        }
        });
        return (false);
    });
    $('#pull_ids').click(function(){
        var village_ids = [];
        $("input:checkbox[name=village_data]:checked").each(function(){
            village_ids.push($(this).val());
            console.log((village_ids));
        })
        $.ajax({
            url: '/post_all_data/',
            type: 'POST',
            data:{
                'village_values[]':  village_ids,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            crossDomain: true,
            datatype: "json",
            success: function(data){
                                 console.log(data);
            },
            error: function (error) {
                console.log('error; ' + eval(error));
            }
        })
    })
    $('#pull_ids').click(function(){
        requested_url = "/users/";
        $.ajax({
        url: requested_url,
        type: 'GET',
        crossDomain: true,
        datatype: "jsonp",
        beforeSend: function(){
            $('#loaded').show();
            $('#get_villages').hide();
        },
        success: function(data){
            console.log(data);
            if(data != null && data == 'success')
                {
                    $('#loaded').hide();
                    $('#get_villages').show();
                    window.location="/register/user_login/";
                }
        },
        error: function (error) {
            console.log('error; ' + eval(error));
        }
        });
    });
</script>


{% endblock %}
